body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #c7d1d6;
	text-align: center;
}

h1 {
	font-size: 70px;
	padding-top: 15px;
}

footer {
	padding-bottom: 10px;
}

.solar-system {
    position: relative;
    height: 600px;
}

li {
    position: absolute;
    border: 0.1em solid #181e30;
}

span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.sun {
    width: 100px;
    height: 100px;
	border: none;
    top: 350px;
    left: 350px;
}

.sun span {
    right: 44px;
    bottom: 37px;
}

.sun img {
    width: 70px;
}

.mercury {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: 375px;
    left: 376px;
}

.mercury span {
    top: 6px;
    left: 10px;
}

.mercury img {
    width: 15px;
}

.venus {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    top: 345px;
    left: 345px;
}

.venus span {
    top: 115px;
    left: 4px;
}

.venus img {
    width: 20px;
}

.earth {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    top: 300px;
    left: 300px;
}

.earth span {
    top: 85px;
    left: 1px;
}

.earth img {
    width: 20px;
}

span .moon {
    top: 11px;
    left: 25px;
}

span .moon  img {
    width: 7px;
}

span .space-station {
    top: 30px;
    left: 10px;
}

span .space-station  img {
    width: 7px;
}