body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #c7d1d6;
	text-align: center;
}

h1 {
	font-size: 70px;
	padding-top: 15px;
}

footer {
	padding-bottom: 10px;
}

.solar-system {
    position: relative;
    height: 600px;
}

.solar-system li {
    position: absolute;
    border: 0.1em solid #181e30;
}