body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    color: #c7d1d6;
	text-align: center;
}

h1 {
	font-size: 70px;
	padding-top: 15px;
}

footer {
	padding-bottom: 10px;
}

.solar-system {
    position: relative;
    height: 600px;
}

.solar-system li {
    position: absolute;
    border: 0.1em solid #181e30;
}

.solar-system li span {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.solar-system .sun {
    width: 100px;
    height: 100px;
    border: none;
    top: 350px;
    left: 350px;
}

.solar-system .sun span {
    right: 44px;
    bottom: 37px;
}

.solar-system .sun img {
    width: 70px;
}

.solar-system .mercury {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: 375px;
    left: 376px;
}
.solar-system .mercury span {
    top: 6px;
    left: 10px;
}

.solar-system .mercury img {
    width: 15px;
}

.solar-system .venus {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    top: 345px;
    left: 345px;
}

.solar-system .venus span {
    top: 115px;
    left: 4px;
}

.solar-system .venus img {
    width: 20px;
}